<html>

<head>
    <title>Marie JS</title>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="assets/bootstrap.lumen.min.css">
    <link rel="stylesheet" href="index.css">

    <script>
        (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-93809806-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>

<body ng-app="mariejs">
    <div ng-controller="MainController">
        <div class="container-fluid">
            <div class="row mariejs-row">
                <div class="col-sm-6 mariejs-editor">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <button class="btn btn-default" style="margin-right: 15px;" ng-click="mc.switchDocument()"><i class="fa fa-exchange"></i></button>                            Editor ({{mc.currentEditorView}})
                        </div>
                        <textarea class="textarea" ui-codemirror="{ onLoad : codemirrorLoaded }" ui-codemirror-opts="mc.defaultEditorOptions" ng-allow-tab
                            spellcheck="false"></textarea>
                        <div class="panel-footer clearfix">
                            <button class="btn btn-sm btn-primary pull-right" ng-click="mc.assemble()" ng-disabled="mc.codeErrors.length && mc.currentEditorView == 'assembly'">{{mc.currentEditorView == 'assembly' ? "Assemble" : "Compile"}}</button>
                        </div>
                    </div>
                    <div class="alert alert-danger" ng-if="mc.codeErrors.length">
                        <span ng-repeat="error in mc.codeErrors">{{error}}<br></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-primary">
                        <div class="panel-body clearfix">
                            <button class="btn btn-default" ng-click="mc.playPause()">
                                <i class="fa fa-play" ng-if="!mc.interpreter.isRunning && !mc.interpreter.isFinishedExecuting"></i>
                                <i class="fa fa-pause" ng-if="mc.interpreter.isRunning"></i>
                                <i class="fa fa-repeat" ng-if="!mc.interpreter.isRunning && mc.interpreter.isFinishedExecuting"></i>
                            </button>
                            <button class="btn btn-default" ng-click="mc.step()" ng-disabled="mc.interpreter.isFinishedExecuting"><i class="fa fa-step-forward"></i></button>
                            <div style="display:inline-block;margin-top:5px" class="pull-right">
                                <b>Clock Frequency:</b> 1Hz
                                <input style="width:100px;display:inline;top:3px;position:relative" type="range" min="1" max="1000" step="20" ng-model="mc.cpuFreq"
                                /> 1kHz
                            </div>
                            <div style="display:inline-block;margin-top:5px" class="pull-right">
                                <b>Slow UI Updates</b>
                                <input style="width:100px;display:inline;top:3px;position:relative" type="checkbox" ng-model="mc.slowUI" />
                            </div>
                            <!-- TODO: http://seiyria.com/bootstrap-slider/ -->
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">Registers</div>
                        <div class="panel-body mariejs-registers">
                            <div class="row">
                                <div class="col-sm-4">
                                    <table class="table table-condensed">
                                        <tr>
                                            <th>AC</th>
                                            <td>0x{{mc.interpreter.Accumulator || 0 | toHex | padHex}}</td>
                                        </tr>
                                        <tr>
                                            <th>IR</th>
                                            <td>0x{{mc.interpreter.InstructionRegister || 0 | toHex | padHex}}</td>
                                        </tr>
                                        <tr>
                                            <th>MAR</th>
                                            <td>0x{{mc.interpreter.MemoryAddressRegister || 0 | toHex | padHex}}</td>
                                        </tr>
                                        <tr>
                                            <th>MBR</th>
                                            <td>0x{{mc.interpreter.MemoryBufferRegister || 0 | toHex | padHex}}</td>
                                        </tr>
                                        <tr>
                                            <th>PC</th>
                                            <td>0x{{mc.interpreter.ProgramCounter || 0 | toHex | padHex}}</td>
                                        </tr>
                                    </table>
                                    <label>Instructions Executed:</label> {{mc.instructionsCount}}
                                </div>
                                <div class="col-sm-4">
                                    <label>Input Buffer</label>
                                    <textarea ng-model="inputBuffer" class="mariejs-registers-buffer mariejs-registers-input-buffer"></textarea>
                                    <button class="btn btn-primary btn-block" ng-click="mc.interpreter.sendInput(inputBuffer);inputBuffer = '';">Send Input</button>
                                </div>
                                <div class="col-sm-4">
                                    <label>Output Buffer</label>
                                    <textarea class="mariejs-registers-buffer mariejs-registers-output-buffer" readonly>{{mc.interpreter.outputBuffer | numberArrayToString}}</textarea>
                                    <textarea class="mariejs-registers-buffer mariejs-registers-output-buffer" readonly>{{mc.interpreter.outputBuffer | numberArrayToHex}}</textarea>
                                    <textarea class="mariejs-registers-buffer mariejs-registers-output-buffer" readonly>{{mc.interpreter.outputBuffer | numberArrayToDecimal}}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading clearfix">
                            <span style="padding-top:3px;display:inline-block;">Memory</span>
                            <div class="btn-group pull-right" role="group" aria-label="...">
                                <button type="button" class="btn btn-xs btn-default" ng-click="mc.viewType = 'HEX'">HEX</button>
                                <button type="button" class="btn btn-xs btn-default" ng-click="mc.viewType = 'DEC'">DEC</button>
                                <button type="button" class="btn btn-xs btn-default" ng-click="mc.viewType = 'ASCII'">ASCII</button>
                            </div>
                            <div class="pull-right keydiv">
                                <span class="label red">PC</span> <span class="label green">MAR</span> <span class="label flash">WRITES</span>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div memory-table viewtype="mc.viewType" memory="mc.interpreter.memory"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="bower_components/codemirror/lib/codemirror.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-codemirror/ui-codemirror.min.js"></script>
    <script type="text/javascript" src="bower_components/codemirror/mode/javascript/javascript.js"></script>
    <script src="scripts/Interpreter.js"></script>
    <script src="scripts/node_modules/esprima/dist/esprima.js"></script>
    <script src="scripts/node_modules/ast-traverse/ast-traverse.js"></script>
    <script src="scripts/Compiler.js"></script>
    <script src="index.js"></script>
</body>

</html>