div.mariejs-row {
	margin-top:15px;
}
div.mariejs-editor > .panel .textarea {
	min-height: 800px;
	width: 100%;
	resize: vertical;
	overflow-y: scroll;
	font-family: monospace;
	tab-size : 4;
}

.mariejs-registers table th {
	width: 50px;
}

.mariejs-registers-buffer {
	width: 100%;
	resize: none;
	height: 200px;
	font-family: monospace;
}

.mariejs-registers-input-buffer {
	height: 160px;
}

.mariejs-registers-output-buffer {
	height: 66.67px;
}

.comment {
    color: green;
}

.line-error{
	border-bottom: dotted 1px red !important;
}

.keydiv {
	display: inline-block;
	padding: 1px 5px 0 0;
}

.green {
	background-color: #dff0d8;
	color: black;
}
.red {
	background-color: #f2dede;
	color: black;
}

.breakpoint-gutter {
	width: 15px;
}

.active-line {
    background-color: yellow !important;
}

.CodeMirror {
	height: 802.5px;
}

.mariejs-memoryTable, .mariejs-memoryTable table {
	width: 100%;
	font-family: monospace;
	font-size: 12px;
}

.mariejs-memoryTable .header {
	width: calc(100% - 15px);
	padding:2px;
}

.mariejs-memoryTable th,.mariejs-memoryTable td {
	width: calc(100% / 17);
}

.flash {
	background-color: #fcf8e3;
	/*font-weight: bold;*/
	color: black;
}

.mariejs-memoryTable .scrollable {
	max-height: 400px;
	overflow-x: hidden;
}

.mariejs-memoryTable:not(.header) {
	border-collapse: collapse;
}

.mariejs-memoryTable:not(.header) table td {
	padding:2px;
	border: 1px solid #AAA;
}